* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    display: flex;
}

.aside {
    width: 10%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.aside > .text {
    background-color: white;
    width: 80%;
    height: 8%;
    margin-top: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header {
    background-color: lightslategray;
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

input[type="button"] {
    width: 8%;
    height: 60%;
    background-color: white;
    margin-right: 20px;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
}

.article {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.section {
    background-color: grey;
    width: 70%;
    height: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="search"] {
    height: 20%;
    width: 30%;
}

.text-resp {
    display: none;
}

@media only screen and (max-width:360px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .aside {
        display: none;
    }

    .header {
        background-color: white;
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-between;
    }

    .text-resp {
        background-color: grey;
        height: 80%;
        width: 10%;
    }

    .article {
        display: flex;
        flex-direction: column;
    }

    .section {
        width: 100%;
        height: 40%;
    }


}
